.read{
    background-color: lightblue;
    border-radius: 10px;

}
.bibli{
    display: flex;
    gap: 10px;
}
.item{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}
header{
    background-color: lightblue;
}
